@charset "utf-8";
/* CSS Document */


#menuprincipal{
	border: 1px black double;
	width: 15%;
	float: left;
	background-color: black;
	border-radius: 35px;
	margin: 5px;
	line-height:45px
	
}

#contenido {
	
	margin-left: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	width: 75%;
	float: left;
	padding-bottom: 5px

}

footer{
	border-width: thin;
	border-color: black;
	border-style: solid;
	width: 20%;
	float: left;
	border-radius: 35px;
	margin: 15px;
	line-height:45px;
	padding-left: 90px
}

header img{
	width: 100%;
	width: 1599px;
	height: 281px
}
body{
	background-color: antiquewhite
}

