@charset "utf-8";
/* CSS Document */


#menuprincipal{
	border: 1px black double;
	width: 15%;
	float: left;
	background-color: black
	
}

#contenido {
	
	margin-left: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	width: 55%;
	float: left;
	padding-bottom: 5px

}

footer{
	border-width: thin;
	border-color: black;
	border-style: solid;
	width: 25%;
	float: left
}

header img{
	width: 100%;
	width: 1599px;
	height: 281px
}
body{
	background-color: antiquewhite
}





/*body{
	background-image: url("../../Practica 01/images/diextgal.jpg");
	background-size: cover ;
	background-position: center
}*/